n8n_transcript_workflow.json
{
  "name": "מעבד תמלילים אקדמי",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-1",
      "name": "הפעל ידנית",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const pkg = $input.first().json;\nif (!pkg.payload || !Array.isArray(pkg.payload)) {\n  throw new Error('מבנה JSON לא תקין — חסר שדה payload');\n}\nconsole.log(`נטענו ${pkg.payload.length} חלקים לעיבוד`);\nreturn pkg.payload.map(item => ({ json: item }));"
      },
      "id": "code-1",
      "name": "פרוס חבילה",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "batch-1",
      "name": "עבד חלק אחד בכל פעם",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1/models/gemini-2.5-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-goog-api-key", "value": "={{ $vars.GEMINI_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"{{ $json.prompt }}\\n\\n{{ $json.content }}\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"maxOutputTokens\": 8192,\n    \"temperature\": 0.3\n  }\n}",
        "options": {
          "retryOnFail": true,
          "maxTries": 4,
          "waitBetweenTries": 60000
        }
      },
      "id": "http-1",
      "name": "קרא ל-Gemini API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\n// ── 429 Rate-limit guard ──────────────────────────────────────────────────\n// If Gemini returned a 429 inside a 200-wrapper (some proxy setups),\n// surface it as a real error so n8n's retry-on-fail can catch it.\nconst errCode = response?.error?.code;\nif (errCode === 429 || errCode === '429') {\n  const retryDelay = parseInt(\n    response?.error?.details?.find(d => d['@type']?.includes('RetryInfo'))\n      ?.retryDelay?.replace('s','') || '60',\n    10\n  ) * 1000;\n  throw new Error(\n    `QUOTA_EXCEEDED — Gemini 429. המתן ${retryDelay / 1000} שניות. n8n ינסה שוב אוטומטית.`\n  );\n}\n\nconst text = response?.candidates?.[0]?.content?.parts?.[0]?.text || '';\nif (!text) throw new Error('Gemini לא החזיר תוכן — בדוק מפתח API ומכסה');\n\nreturn [{ json: {\n  part: $('עבד חלק אחד בכל פעם').first().json.part,\n  total: $('עבד חלק אחד בכל פעם').first().json.total,\n  content: $('עבד חלק אחד בכל פעם').first().json.content,\n  result: text\n}}];"
      },
      "id": "code-2",
      "name": "חלץ תשובה",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1/models/gemini-2.5-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-goog-api-key", "value": "={{ $vars.GEMINI_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"אתה מבקר איכות אקדמי. בדוק את העיבוד הבא:\\n\\nמקור:\\n{{ $json.content }}\\n\\nתוצר:\\n{{ $json.result }}\\n\\nהאם היו השמטות מהותיות? ענה ב'תקין' או פרט ליקויים בקצרה.\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"maxOutputTokens\": 512,\n    \"temperature\": 0.1\n  }\n}",
        "options": {
          "retryOnFail": true,
          "maxTries": 4,
          "waitBetweenTries": 60000
        }
      },
      "id": "auditor-node",
      "name": "סוכן מבקר איכות",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "jsCode": "const auditResponse = $input.first().json;\n\n// ── 429 guard for auditor ─────────────────────────────────────────────────\nconst errCode = auditResponse?.error?.code;\nif (errCode === 429 || errCode === '429') {\n  throw new Error('QUOTA_EXCEEDED — מבקר האיכות קיבל 429. n8n ינסה שוב אוטומטית.');\n}\n\nconst audit = auditResponse?.candidates?.[0]?.content?.parts?.[0]?.text || 'לא בוצעה ביקורת';\n\nreturn [{ json: {\n  part: $('חלץ תשובה').first().json.part,\n  total: $('חלץ תשובה').first().json.total,\n  result: $('חלץ תשובה').first().json.result,\n  audit: audit.trim()\n}}];"
      },
      "id": "code-audit",
      "name": "חלץ ביקורת",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "unit": "seconds",
        "amount": 15
      },
      "id": "wait-1",
      "name": "המתן בין חלקים (Rate-limit)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1780, 300],
      "webhookId": "wait-webhook-1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst sorted = items\n  .map(i => i.json)\n  .sort((a, b) => a.part - b.part);\n\nconst combined = sorted.map(s => s.result).join('\\n\\n---\\n\\n');\nconst auditLog = sorted\n  .map(s => `חלק ${s.part}: ${s.audit}`)\n  .join('\\n');\n\n// Collect parts flagged by the quality auditor (non-'תקין' entries)\nconst errors = sorted\n  .filter(s => s.audit && s.audit !== 'תקין' && !s.audit.startsWith('לא בוצעה'))\n  .map(s => `חלק ${s.part}/${sorted.length}: ${s.audit}`);\n\nreturn [{ json: {\n  status: errors.length === 0 ? 'Processing Complete' : 'Processing Complete with Warnings',\n  combined_output: combined,\n  audit_log: auditLog,\n  parts_processed: sorted.length,\n  timestamp: new Date().toISOString(),\n  errors: errors\n}}];"
      },
      "id": "code-3",
      "name": "מזג תוצאות",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300]
    }
  ],
  "connections": {
    "הפעל ידנית": {
      "main": [[{ "node": "פרוס חבילה", "type": "main", "index": 0 }]]
    },
    "פרוס חבילה": {
      "main": [[{ "node": "עבד חלק אחד בכל פעם", "type": "main", "index": 0 }]]
    },
    "עבד חלק אחד בכל פעם": {
      "main": [
        [{ "node": "קרא ל-Gemini API", "type": "main", "index": 0 }],
        [{ "node": "מזג תוצאות", "type": "main", "index": 0 }]
      ]
    },
    "קרא ל-Gemini API": {
      "main": [[{ "node": "חלץ תשובה", "type": "main", "index": 0 }]]
    },
    "חלץ תשובה": {
      "main": [[{ "node": "סוכן מבקר איכות", "type": "main", "index": 0 }]]
    },
    "סוכן מבקר איכות": {
      "main": [[{ "node": "חלץ ביקורת", "type": "main", "index": 0 }]]
    },
    "חלץ ביקורת": {
      "main": [[{ "node": "המתן בין חלקים (Rate-limit)", "type": "main", "index": 0 }]]
    },
    "המתן בין חלקים (Rate-limit)": {
      "main": [[{ "node": "עבד חלק אחד בכל פעם", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": true }
}
